## --- .NET Core / VS Code Setup ---
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.binlog
*.sln.iml
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

## --- User Specific / Secrets ---
*.user
*.userprefs
.env
src/SimpleAuthApi.WebApi/appsettings.json

## --- Docker ---
.dockerignore
# Ak používaš lokálne dáta pre Postgres v kontajneri
docker-data/

## --- OS Specific (Fedora/Linux/Mac) ---
.DS_Store
.cache/
.local/
Thumbs.db

## --- SQL Server/Postgres temporary ---
*.mdf
*.ldf
*.ndf